{% extends 'client.html.twig' %}

{% block title %}Event Reservation{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4">Event Details</h1>
        {% if evenements %}
            <div class="event-details">
                <h2>{{ evenements.titreevt }}</h2>
                <p><strong>Description:</strong> {{ evenements.descevt }}</p>
                <p><strong>Organizer:</strong> {{ evenements.nomOrg }}</p>
                <p><strong>Date:</strong> {{ evenements.dateevt|date('Y-m-d') }}</p>
                <!-- Add other event details as needed -->

    
                <form method="post" action="{{ path('app_mesparticipations', {'id': 39}) }}">
                    <button type="submit" class="btn btn-primary">Mes réservations</button>
            </form>
            <form method="post" action="{{ path('app_reservation_reserve', {'idevt': evenements.idevt , 'id': 39}) }}">
                    <button type="submit" class="btn btn-success">Confirmer Reservation</button>
                </form>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No event details found.
            </div>
        {% endif %}

        <a href="{{ path('app_evenement_indexCl') }}" class="btn btn-secondary mt-3">Retour à l'accueil</a>
    </div>
{% endblock %}
