{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idbillet</th>
                <th>Idevt</th>
                <th>Titreevt</th>
                <th>Prixbillet</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.idbillet }}</td>
                <td>{{ reservation.idevt }}</td>
                <td>{{ reservation.titreevt }}</td>
                <td>{{ reservation.prixbillet }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'idbillet': reservation.idbillet}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'idbillet': reservation.idbillet}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
