{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre de l'évènement</th>
                <td>{{ reservation.titreevt }}</td>
            </tr>
            <tr>
                <th>Prix billet</th>
                <td>{{ reservation.prixbillet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">Retour à la liste </a>

    <a href="{{ path('app_reservation_edit', {'idBillet': reservation.idBillet}) }}">Modifier</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
