{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idevt</th>
                <th>Titreevt</th>
                <th>Nomorg</th>
                <th>Descevt</th>
                <th>Hdevt</th>
                <th>Hfevt</th>
                <th>Adresseevt</th>
                <th>Typeevt</th>
                <th>Dateevt</th>
                <th>Vote</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.idevt }}</td>
                <td>{{ evenement.titreevt }}</td>
                <td>{{ evenement.nomorg }}</td>
                <td>{{ evenement.descevt }}</td>
                <td>{{ evenement.hdevt ? evenement.hdevt|date('H:i:s') : '' }}</td>
                <td>{{ evenement.hfevt ? evenement.hfevt|date('H:i:s') : '' }}</td>
                <td>{{ evenement.adresseevt }}</td>
                <td>{{ evenement.typeevt }}</td>
                <td>{{ evenement.dateevt ? evenement.dateevt|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.vote }}</td>
                <td>
                    <a href="{{ path('app_evenement_show', {'idevt': evenement.idevt}) }}">show</a>
                    <a href="{{ path('app_evenement_edit', {'idevt': evenement.idevt}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenement_new') }}">Create new</a>
{% endblock %}
