{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idevt</th>
                <td>{{ evenement.idevt }}</td>
            </tr>
            <tr>
                <th>Titreevt</th>
                <td>{{ evenement.titreevt }}</td>
            </tr>
            <tr>
                <th>Nomorg</th>
                <td>{{ evenement.nomorg }}</td>
            </tr>
            <tr>
                <th>Descevt</th>
                <td>{{ evenement.descevt }}</td>
            </tr>
            <tr>
                <th>Hdevt</th>
                <td>{{ evenement.hdevt ? evenement.hdevt|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Hfevt</th>
                <td>{{ evenement.hfevt ? evenement.hfevt|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Adresseevt</th>
                <td>{{ evenement.adresseevt }}</td>
            </tr>
            <tr>
                <th>Typeevt</th>
                <td>{{ evenement.typeevt }}</td>
            </tr>
            <tr>
                <th>Dateevt</th>
                <td>{{ evenement.dateevt ? evenement.dateevt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Vote</th>
                <td>{{ evenement.vote }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    <a href="{{ path('app_evenement_edit', {'idevt': evenement.idevt}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
