{% extends 'client.html.twig' %}

{% block title %}Location index{% endblock %}

{% block body %}
    <h1>Location </h1>
 <a href="{{ path('app_location_new') }}" class="primary-btn"">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Idlocation</th>
                <th>Start Date</th>
                <th>Datefin</th>
                <th>Tarif</th>
                <th>Personne</th>
                <th>Logement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.idlocation }}</td>
                <td>{{ location.datedebut ? location.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ location.datefin ? location.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ location.tarif }}</td>
                
                <td>{{ location.personne.email }}</td> {# assuming "email" is a property of Personne #}
                <td>{{ location.logement.adrl }}</td> {# assuming "adrl" is a property of Logement #}
                
                <td>
                    <a href="{{ path('app_location_show', {'idlocation': location.idlocation}) }}" class="primary-btn">show</a>
                    <a href="{{ path('app_location_edit', {'idlocation': location.idlocation}) }}" class="primary-btn">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}