

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create a new location</h1>

    {{ form_start(form) }}

    {{ form_row(form.datedebut) }}
    {{ form_row(form.datefin) }}
    {{ form_row(form.tarif) }}

    {# Personne field #}
    <div class="form-group">
        <label for="{{ form.personne.vars.id }}">Personne:</label>
        {{ form_widget(form.personne) }}
    </div>

    {# Logement field #}
    <div class="form-group">
        <label for="{{ form.logement.vars.id }}">Logement:</label>
        {{ form_widget(form.logement) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
