{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}
    <h1>Location</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idlocation</th>
                <td>{{ location.idlocation }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ location.datedebut ? location.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ location.datefin ? location.datefin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ location.tarif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_location_index') }}">back to list</a>

    <a href="{{ path('app_location_edit', {'idlocation': location.idlocation}) }}">edit</a>

    {{ include('location/_delete_form.html.twig') }}
{% endblock %}
