{# {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }} #}
{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
        {{ form_label(form.adrl) }}
        {{ form_widget(form.adrl, {'attr': {'class': 'form-control', 'placeholder': 'Adresse de logement', 'aria-describedby': 'adrl-error'}}) }}
        <div id="adrl-error" class="error-message">{{ form_errors(form.adrl) }}</div>
    </div>

    <div class="form-group">
        {{ form_label(form.superfice) }}
        {{ form_widget(form.superfice, {'attr': {'class': 'form-control', 'placeholder': 'Superficie', 'aria-describedby': 'superfice-error'}}) }}
        <div id="superfice-error" class="error-message">{{ form_errors(form.superfice) }}</div>
    </div>

    <div class="form-group">
        {{ form_label(form.loyer) }}
        {{ form_widget(form.loyer, {'attr': {'class': 'form-control', 'placeholder': 'Loyer', 'aria-describedby': 'loyer-error'}}) }}
        <div id="loyer-error" class="error-message">{{ form_errors(form.loyer) }}</div>
    </div>

    <div class="form-group">
        {{ form_label(form.type) }}
        {{ form_widget(form.type, {'attr': {'class': 'form-control', 'placeholder': 'Type', 'aria-describedby': 'type-error'}}) }}
        <div id="type-error" class="error-message">{{ form_errors(form.type) }}</div>
    </div>

    <div class="form-group">
        {{ form_label(form.region) }}
        {{ form_widget(form.region, {'attr': {'class': 'form-control', 'placeholder': 'Region', 'aria-describedby': 'region-error'}}) }}
        <div id="region-error" class="error-message">{{ form_errors(form.region) }}</div>
    </div>

    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control', 'placeholder': 'Image URL', 'aria-describedby': 'image-error'}}) }}
        <div id="image-error" class="error-message">{{ form_errors(form.image) }}</div>
    </div>

    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
