{% extends 'base.html.twig' %}

{% block title %}Logement index{% endblock %}

{% block body %}
    <h1>Logement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id delogement</th>
                <th>Adresse de logement</th>
                <th>Superfice</th>
                <th>Loyer</th>
                <th>Type</th>
                <th>Region</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for logement in logements %}
            <tr>
                <td>{{ logement.idlogement }}</td>
                <td>{{ logement.adrl }}</td>
                <td>{{ logement.superfice }}</td>
                <td>{{ logement.loyer }}</td>
                <td>{{ logement.type }}</td>
                <td>{{ logement.region }}</td>
                <td><img src="{{ asset(logement.image) }}" alt="Image"></td>
                <td>
                    <a href="{{ path('app_logement_show', {'idlogement': logement.idlogement}) }}">show</a>
                    <a href="{{ path('app_logement_edit', {'idlogement': logement.idlogement}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_logement_new') }}">Create new</a>
{% endblock %}
