{% extends 'basee.html.twig' %}

{% block title %}Hebergement{% endblock %}

{% block body %}

    <h1>Hebergement</h1>
    <form id="searchForm" action="{{ path('app_logement_search') }}">
        <input type="text" id="searchInput" name="term" placeholder="Search by Adresse">
        <div id="searchResults"></div>
    </form>
  <a href="{{ path('app_logement_new') }}"  class="btn btn-primary">Ajouter Hebergement</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id de logement</th>
                <th>Adresse de logement</th>
                <th>Superficie</th>
                <th>Loyer</th>
                <th>Type</th>
                <th>Région</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for logement in results %}
                <tr>
                    <td>{{ logement.idlogement }}</td>
                    <td>{{ logement.adrl }}</td>
                    <td>{{ logement.superfice }}</td>
                    <td>{{ logement.loyer }}</td>
                    <td>{{ logement.type }}</td>
                    <td>{{ logement.region }}</td>
                    <td><img src="{{ asset('uploads/' ~ logement.image) }}" alt="Logement Image" style="max-width: 100px; max-height: 100px;" class="img-fluid"></td>
                    <td>
                       
                        <a href="{{ path('app_logement_show', {'idlogement': logement.idlogement}) }}"  class="btn btn-primary">Show</a>
                        <a href="{{ path('app_logement_edit', {'idlogement': logement.idlogement}) }}"  class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var searchInput = $('#searchInput');
            var searchResults = $('#searchResults');

            searchInput.on('input', function () {
                var term = searchInput.val();

                $.get('{{ path('app_logement_search') }}', { term: term }, function (data) {
                    // Update the results div with the suggestions
                    searchResults.html('');

                    data.forEach(function (result) {
                        searchResults.append('<div>' + result.adrl + '</div>');
                    });
                });
            });
        });
    </script>

{% endblock %}
