{% extends 'client.html.twig' %}

{% block title %}Logement{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Logement Details</h1>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Reference delogement</th>
                    <td>{{ logement.idlogement }}</td>
                </tr>
                <tr>
                    <th>Adresse de logement</th>
                    <td>{{ logement.adrl }}</td>
                </tr>
                <tr>
                    <th>Superficie</th>
                    <td>{{ logement.superfice }} m²</td>
                </tr>
                <tr>
                    <th>Loyer</th>
                    <td>{{ logement.loyer }} $</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ logement.type }}</td>
                </tr>
                <tr>
                    <th>Region</th>
                    <td>{{ logement.region }}</td>
                </tr>
                <tr>
                    <th>Image</th>
<td><img src="{{ asset('uploads/' ~ logement.image) }}" alt="Logement Image" class="img-fluid"></td>
                </tr>
            </tbody>
        </table>

        <div class="mt-3">
            <a href="{{ path('app_logement_index') }}" class="btn btn-secondary mr-2">Back to List</a>
            <a href="{{ path('app_logement_edit', {'idlogement': logement.idlogement}) }}" class="btn btn-primary">Edit</a>
            {{ include('logement/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
