
{% for flashMessage in app.flashes('success') %}
    <div class="alert alert-success" style="color: green;">
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.flashes('danger') %}
    <div class="alert alert-danger" style="color: red;" role="alert">
        {{ flashMessage }}
    </div>
{% endfor  %}


 {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}


    {{ form_widget(form) }}


    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

   
{{ form_end(form) }}

