{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Offre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idoffre</th>
                <th>Nomoffre</th>
                <th>Description</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Typeoffre</th>
                <th>Valeuroffre</th>
                <th>Imageoffre</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.idoffre }}</td>
                <td>{{ offre.nomoffre }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.datedebut ? offre.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ offre.datefin ? offre.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ offre.typeoffre }}</td>
                <td>{{ offre.valeuroffre }}</td>
                <td>{{ offre.imageoffre }}</td>
                <td>{{ offre.status }}</td>
                <td>
                    <a href="{{ path('app_offre_show', {'idoffre': offre.idoffre}) }}">show</a>
                    <a href="{{ path('app_offre_edit', {'idoffre': offre.idoffre}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_new') }}">Create new</a>
{% endblock %}
